{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center w-full h-full ">
        <div class=" flex justify-center items-center flex-col shadow-lg p-8 w-[500px] h-[500px] rounded-full bg-gray-800/80">
            <h2 class="text-center mb-4 font-semibold dark:text-white text-gray-900">Photo of a cat to brighten your
                day 😺</h2>
            <div class="flex justify-center items-center w-64 h-64  relative">
                <img src="{{ catPhoto }}" alt="cat photo"
                     class="max-w-full max-h-full object-scale-downshadow-lg rounded-lg shadow-black dark:shadow-white">
            </div>
        </div>
    </div>
{% endblock %}
