{% block details %}
    <turbo-frame id="teacher-details">
        <div>
            <h2>{{ teacher.authUser.firstName }} {{ teacher.authUser.lastName }}</h2>
            {# Reszta szczegółów nauczyciela #}
        </div>
    </turbo-frame>
{% endblock %}
